<div class="background-cartas">
    <div class="container-fluid animated fadeIn fast">
        <h1 class='text-center texto pt-2'>Lista de cartas</h1>
        <div class="row">
            <div class="col-6 text-left">
                <button routerLink="/carta/nuevo" class="btn btn-primary mr-2">
            <i class="fa fa-plus"></i> Agregar
        </button>
            </div>
            <div class="col-6 text-right">
                <button class='btn btn-danger' (click)='salir()'><i class="fas fa-sign-out-alt"></i> Salir
            </button>
            </div>
        </div>
        <div class="table-responsive">
            <table *ngIf="!cargando && carta.length > 0" class="table mt-3 texto">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Editor/es</th>
                        <th scope="col">Estándar/Salvaje</th>
                        <th scope="col">Editar/Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let carta of carta, let i = index">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ carta.nombre }}</td>
                        <td>{{ carta.descripcion }}</td>
                        <td>{{ carta.emailEditores }}</td>
                        <td>

                            <label *ngIf="carta.conjunto" class="badge badge-primary">Estándar</label>
                            <label *ngIf="!carta.conjunto" class="badge badge-success">Salvaje</label>

                        </td>
                        <td>

                            <button class="btn btn-info mr-1" [routerLink]="['/carta' , carta.id]">
                    <i class="fa fa-pen"></i>
                </button>

                            <button (click)='borrarCarta( carta , i)' class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="!cargando && carta.length === 0" class="alert alert-warning text-center mt-3 animated fadein">
            <h4 class="alert-heading">No hay registros</h4>
            <p>
                <i class="fa fa-exclamation fa-2x"></i>
            </p>
        </div>

        <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadein fast">
            <h4 class="alert-heading">Cargando</h4>
            <p>
                <i class="fa fa-sync-alt fa-spin fa-2x"></i>
            </p>
            <p class="mb-0">
                Espere por favor
            </p>
        </div>
    </div>
</div>